<mat-card>
  <h1>Counter</h1>

  <div>
    <p data-cy="counter">{{(counter$ | async).counter}}</p>
  </div>
  <mat-card-actions>
    <button data-cy="add" mat-stroked-button (click)="addOne()">+1</button>
    <button data-cy="remove" mat-stroked-button (click)="removeOne()">-1</button>
    <button data-cy="reset" mat-stroked-button (click)="reset()">reset</button>
    <div>
      <mat-form-field>
        <input data-cy="setInput" type="number" matInput [(ngModel)]="numInput">
      </mat-form-field>
      <button data-cy="setVal" mat-raised-button (click)="setValue()">setValue</button>
    </div>
  </mat-card-actions>
</mat-card>
